@page "/categories"
@attribute [Authorize(Roles = "Admin")]
@inject SweetAlertService sweetAlertService;
@inject NavigationManager navigationManager;
@inject IRepository repository

<h3>Categorías</h3>
<a class="btn btn-primary" href="/categories/create">Nueva Categoría</a>
<GenericList MyList="Categories">

    <Loading>
        <p>
            CARGANDO...
        </p>
    </Loading>
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Categories!)
                {
                    <tr>
                        <td>
                            <a href="/categories/edit/@category.Id" class="btn btn-warning"><i class="oi oi-pencil" /> Editar</a>
                           
                        </td>
                        <td>
                            @category.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </Body>

</GenericList>



@code {



    public List<Country>? Categories { get; set; }


    protected override async Task OnInitializedAsync()
    {

        try
        {
            var responseHppt = await repository.Get<List<Country>>("/api/categories");
           
            Categories = responseHppt.Response!;

        }
        catch (Exception ex)
        {
            await sweetAlertService.FireAsync("Error", ex.Message, SweetAlertIcon.Error);
        }
    }

    
        
        
    







}
